<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Text To Image Steganography</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-theme.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-2.0.3.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js')}}"></script>

  <style>
  body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 {
      background-color: #1abc9c; /* Green */
      color: #ffffff;
  }
  .bg-2 {
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 {
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 {
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }

{#      Previous#}

  </style>

    <script>
    $(document).on('click', '#close-preview', function(){
    $('.image-preview').popover('hide');
    // Hover befor close the preview
    $('.image-preview').hover(
        function () {
           $('.image-preview').popover('show');
        },
         function () {
           $('.image-preview').popover('hide');
        }
    );
});

$(function() {
    // Create the close button
    var closebtn = $('<button/>', {
        type:"button",
        text: 'x',
        id: 'close-preview',
        style: 'font-size: initial;',
    });
    closebtn.attr("class","close pull-right");
    // Set the popover default content
    $('.image-preview').popover({
        trigger:'manual',
        html:true,
        title: "<strong>Preview</strong>"+$(closebtn)[0].outerHTML,
        content: "There's no image",
        placement:'bottom'
    });
    // Clear event
    $('.image-preview-clear').click(function(){
        $('.image-preview').attr("data-content","").popover('hide');
        $('.image-preview-filename').val("");
        $('.image-preview-clear').hide();
        $('.image-preview-input input:file').val("");
        $(".image-preview-input-title").text("Browse");
    });
    // Create the preview image
    $(".image-preview-input input:file").change(function (){
        var img = $('<img/>', {
            id: 'dynamic',
            width:250,
            height:200
        });
        var file = this.files[0];
        var reader = new FileReader();
        // Set preview image into the popover data-content
        reader.onload = function (e) {
            $(".image-preview-input-title").text("Change");
            $(".image-preview-clear").show();
            $(".image-preview-filename").val(file.name);
            img.attr('src', e.target.result);
            $(".image-preview").attr("data-content",$(img)[0].outerHTML).popover("show");
        }
        reader.readAsDataURL(file);
    });
});
</script>

</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" style="color: black; font-family: Sans-serif;">Text To Image Steganography Using LSB Algorithm</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div>
  </div>
</nav>

<!-- First Container -->
<div class="container-fluid bg-1 text-center" style="height: 500px;">
<div align="right">
          <a href="http://localhost:5000/" class="btn btn-large btn-info" >
          <span class="glyphicon glyphicon-home"></span> Take Me Home</a>
</div>

   {% if displayVal == False %}
    <h3 align="center">Retrieve Your Secret Message From Image</h3>
  {% endif %}

<form action="{{ url_for('getMsg')}}" method="post" enctype="multipart/form-data">

    <div style="margin-left: 25%; margin-right: 20%" id="msgDiv" align="center">
        {% if displayVal %}
         <h2 style="color: black">Retrieved Secret Message Is:</h2>
         <h3 id="secretMessage">{{ message }}</h3>
        {% endif %}
    </div>
    <br><br>
 {% if displayVal == False %}
    <input type="submit" class="btn btn-primary" value="Get Message"  style="margin-left: 5%; height: 60px; font-size: large; width: 300px;" >
  {% endif %}
</form>
</div>



{% if displayVal == False %}

<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">
  <div class="row">
      <div class="col-sm-6">
       <p>Original Image</p>
   <img src="{{ url_for('static', filename = 'pics/'+ originalFile )| safe}}?{{ range(1, 1000) | random }}" class="img-responsive margin" style="width:100%;" alt="Image" >
    </div>
    <div class="col-sm-6">
     <p>Stego Image</p>
        <img src="{{ url_for('static', filename = 'pics/newImage.png')| safe}}?{{ range(1, 1000) | random }}" style="width:100%;" alt="Image" />
        </div>

  </div>
</div>
  {% endif %}

<!-- Footer -->
 <footer style="color: black; margin-left: 42%;"> 
    <p>© Nikita Gautam - Mini Project - Batch 2017</p> 
</footer> 
</body>
</html>

